
.roundedcornr_box_2 {
   background: #ffe77c;
   margin-right: 15px;
}
.roundedcornr_top_2 div {
   background: url(../images/roundedcornr2_tl.png) no-repeat top left;
}
.roundedcornr_top_2 {
   background: url(../images/roundedcornr2_tr.png) no-repeat top right;
}
.roundedcornr_bottom_2 div {
   background: url(../images/roundedcornr2_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_2 {
   background: url(../images/roundedcornr2_br.png) no-repeat bottom right;
}

.roundedcornr_top_2 div, .roundedcornr_top_2,
.roundedcornr_bottom_2 div, .roundedcornr_bottom_2 {
   width: 100%;
   height: 10px;
   font-size: 1px;
}
.roundedcornr_content_2 { margin: 0 10px; }
