*~
*.tmp
*.swp
tests/report/*
html/styles/default/old
html/scripts/old
#
# data : cache, tmp, session
#
data/cache/*
data/tmp/*
data/session/*
!.gitignore
#
# latex
#
*.tex.backup
docs/src/*.aux
docs/src/*.dvi
docs/src/*.lof
docs/src/*.log
docs/src/*.out
docs/src/*.toc
docs/src/*.pdf
#docs/html/*
#docs/txt/*
#docs/pdf/*
