/*--------------------------------------------------------------------------*/
/*    tables                                                                */
/*--------------------------------------------------------------------------*/
#box-table-admin
{
   font-family: "Lucida Sans Unicode", Sans-Serif;
   font-size: 1em;
   font-weight: normal;
   margin-top: 1em;
   margin-bottom: 2em;
   text-align: left;
   border-collapse: collapse;
}
#box-table-admin caption
{
	margin-left: 0em;
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
}
#box-table-admin th
{
   padding: 7px;
   border-top: 4px solid #816753; /* полоска сверху */
   background: #A08167;           /* фон заголовка */
   border-bottom: 1px solid #fff;
   color: #fff; /* шрифт */
}
#box-table-admin td
{
   font-size: 0.9em;
   padding: 4px;
   background: #EDDE98;
   border-bottom: 1px solid #fff;
   color: #404060;
   border-top: 1px solid transparent;
}
#box-table-admin tr:hover td
{
   background: #FFF4BA;
   color: #339;
}
#box-table-admin .warn
{
   background: #FAFF63;
}
#box-table-admin .err
{
   color:white;
   background: #FF5050;
}
#box-table-admin .linkerr
{
   color:#FFFF77;
}

.td_inactive {
    text-decoration: line-through;
}


.div-bacula-fill {
    position: absolute;
    top:   4em;
    right: 2em;
}