/* HTML and CSS Table Border Style Wizard: http://www.somacon.com/p141.php
----------------------------------------------------------------------------------*/

table.fmark {
	/*width: 80em;/*/
	/*border-width: 0px 0px 0px 0px;*/
	/*border-spacing: 0px;*/
	/*border-style: none none none none;*/
	/*border-collapse: collapse;*/
	background-color: #F5F5F5;
	font-family: monospace;
}
table.fmark td.odd {
	/*border-width: 0px 0px 0px 0px;
	padding: 1px 1px 1px 1px;
	border-style: none none none none;
	background-color: #F7EEFF;*/
   background-color: #f9f9f9;
	font-family: monospace;
}
table.fmark td.even {
	/*border-width: 0px 0px 0px 0px;
	padding: 1px 1px 1px 1px;
	border-style: none none none none;
	background-color: #C8E7FF;*/
   background-color: #FFF;
	font-family: monospace;
}
table.fmark td.pwd {
	/*border-width: 0px 0px 0px 0px;
	padding: 1px 1px 1px 1px;
	border-style: none none none none;*/
	background-color: #FFFFFF;
	font-family: monospace;
}
table.fmark tr:hover td {
   background: #f8efc0;
   
}



/* for restore files
------------------------------------------------------*/

span.unmark:visited{
	text-decoration:none; }

span.unmark:hover{
	text-decoration:none;
	background:#0000BB;
	color:#FFFFFF; }

span.unmark{
	color:#000000;
	cursor: pointer; }

span.mark:visited{
	text-decoration:none; }

span.mark:hover{
	text-decoration:none;
	color:#FFFF00;
	background:#0068F9; }

span.mark{
	background:#0000BB;
	color:#FFFFFF;
	cursor: pointer; }

