/*
   wblogbook theme
*/
#box-table-wblogbook {
   font-size: 95%;
   font-family: "Lucida Grande", Helvetica, verdana, sans-serif;
   background-color:#fff;
   border-collapse: collapse;
   width: 62em;
   line-height: 1.2em;
}
#box-table-wblogbook caption {
   font-size: 30px;
   font-weight: bold;
   color: #002084;
   text-align: left;
   padding: 10px 0px;
   margin-bottom: 2px;
   text-transform: capitalize;
}
#box-table-wblogbook thead th {
   border-right: 2px solid #fff;
   color:#fff;
   text-align:center;
   padding:2px;
   height:25px;
   background-color: #004080;
}
#box-table-wblogbook tfoot {
   color:#002084;
   padding:2px;
   text-transform:uppercase;
   font-size:1.2em; 
   font-weigth: bold;
   margin-top:6px;
   border-top: 6px solid #004080;
   border-bottom: 6px solid #004080;
}
#box-table-wblogbook tbody tr {
   background-color:#fff;
   border-bottom: 2px solid #c0c0c0;
}
#box-table-wblogbook tbody td {
   color:#002084;
   padding:5px;
   text-align:left;
}
#box-table-wblogbook tbody th {
   text-align:left;
   padding: 2px;
}
#box-table-wblogbook tbody td a, tbody th a {
   color:#002084;
   text-decoration:underline;
   font-weight:normal; 
}
#box-table-wblogbook tbody td a:hover, tbody th a:hover {
   text-decoration:none;
}
#box-table-wblogbook .warn
{
   background-color:#FAFF63;
}
#box-table-wblogbook .err
{
   color:white;
   background: #FF5050;
}
#box-table-wblogbook .ok
{
   background-color: #2CF465;
   color:black;
}

#logbook-form {
   width: 55em;
   margin-top: 25px;
}
#logbook-form textarea:focus, #logbook-form input:focus {
   border: 1px solid #900;
   background-color: #FFF;
}
label {
   padding-top: 7px;
   padding-bottom: 7px;
   font-weight: bold;
}

div.roundcorner-wlb {
    width: 55em;
    padding: 20px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000;
    background: #d0ffbd;
}
