/* Basic Terminal CSS */
.wterm_terminal {
    background: #000;
    color: #fff;
    font-size: 0.9em;
    font-family: monospace;
    padding: 1px;
    width: 70%;
    display: block;
    overflow-x: none;
    overflow-y: auto;
    margin: 0px;
}

/* TODO: Input Box Width is faulty */
.wterm_terminal input { background: transparent; border: 0; color: #fff; width: 70%; font-size: 1em; font-family: monospace; outline: none;   }
.wterm_terminal div:first { margin-bottom: 0; }
.wterm_terminal .wterm_prompt { float: left; clear: left;  }
.wterm_terminal  form { float: left; margin: 0px; width: 65%; }

/* Themes */
.wterm_theme_green_on_black {
    background: #5A5A5A;
    color: #DADACC;
}
.wterm_theme_green_on_black input { background: transparent; border: 0; color: #0f0; }